body{
  background-color: #f4f7f6;
}
.home .post-image{
  height: 25vh;
  overflow: hidden;
}
 .home .prj-title{
   font-size: 14px;
   color: #202121;
   font-weight: 500;
  line-height: 25px;
 }
 .home a{
  color: #202121;
 }