{% extends 'base.html' %}
{%load bootstrap3%}
{%load static%}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{%endblock%}
{% block content %}
<div class="container project_page mt-3">
    <h5 class="text-center mb-4">{{project.title}}</h5>

    <div class="card">
      <div class="post-image" style="background-image:url({{project.cover_photo.cdn_url }})" >
        <div class="prj-ratings" >
          <div class="container mask over rgba-black-slight">
              <div class="row">
                  <div class="col-md-6 d-flex flex-row mx-auto" style="height:50vh;margin-top: 20vh;">
                      <div id="design">{{ratings.design}}<br>
                          <span class="rates">design</span>
                      </div>
                      <div id="usable" class="mx-auto">{{ratings.usability}}<br>
                          <span class="rates">usability</span>
                      </div>
                      <div id="contente">{{ratings.content}}<br>
                          <span class="rates">content</span>
                      </div>
                      <div id="score">{{ratings.score}}<br>
                        <span class="rates">score</span>
                      </div>
                   
                  </div>
              </div>
          </div>

        </div>
      </div>
               
          
        <div class="card-body">
            <h5 class="card-title"><strong>{{project.title}}</strong>
                <a href="{{project.url}}" style="float:right" class="btn btn-sm btn-info mr-4"> Visit </a></h5>
            <p>by <span><a href="" id="username" class="mr-2">{{project.user.username}}</a></span>(Kenya)
            </p>
            <p>{{project.description}}</p>
            <hr>
            <h5 class="card-title my-3"><strong>Rate Project</strong></h5>
            <form  action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
            
                {% bootstrap_form form%}
                <div class="text-center">
                  <input type="submit" class=" btn btn-success btn-lg" value="Rate">
                </div>
                
              </form>
        </div>

    </div>
</div>
{% endblock %}